AB

In [3]:
import pandas as pd
dataset = "/content/Book2.csv"

df = pd.read_csv(dataset)

df.head(10)

   Tinggi Badan  Berat Badan  nilai keterangan
0           168         87.0   89.0          1
1           173         60.0   89.0          1
2           150          NaN   80.0          0
3           168         60.0   88.0          1
4           157         55.0    NaN          L
5           167         59.0   81.0          0
6           159         58.0   86.0          1

In [4]:
print(df['Berat Badan'].isna().sum())

df['Berat Badan'].fillna('N', inplace=True)

print(df['Berat Badan'].isna().sum())

1
0

In [6]:
print(df['nilai'].isna().sum())

df['nilai'].fillna('N', inplace=True)

print(df['nilai'].isna().sum())

1
0

In [8]:
df['keterangan'].replace(['L'], ['1'], inplace=True)

print(df['keterangan'].value_counts())

1    5
0    2
Name: keterangan, dtype: int64